.calendar {

  &_wrapper {
    background-image: url("../img/pexels-karl-solano-2729899.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 80px;
    justify-content: center;
    color: white;

    @media screen and (max-width: 425px) {
      padding: 0;
     align-items: center;

    }
  }

  &__icon, &__span {
    color: #b35900;
    background: transparent;
    right: 60px;
    cursor: pointer;
  }

  &__span {
    font-size: 2rem;
    right: 120px;
    color: black;
    font-weight: bold;
    margin-right: 5px ;
  }
}

.react-calendar {
  max-width: 100%;
  //height: 90%;
  background: white;
  line-height: 2em;
  text-align: center;

  @media screen and (max-width: 1200px) {

  }

  button {
    border: none;
    outline: none;
    font-size: 1.3rem;
  }

  //Mon Tues
  &__month-view__weekdays {
    text-align: center;
    font-weight: 400;
    font-size: 1.1em;
    color: black

  }

  &__month-view__weekdays__weekday abbr {
    text-decoration: none;
  }

  &__tile {
    max-width: 8vw;
    height: 8vh;
    text-align: center;
    padding: 0.6em 0em;
    background-color: #854909;
    border-radius: 50px;
    cursor: pointer;

    @media screen and (max-width: 1200px) {
      max-width: 7vw;
      height: 7vh;
    }

    @media screen and (max-width: 800px) {
      max-width: 5vw;
      height: 5vh;
    }
    }

  &__navigation {
    height: 2.5rem;
    margin-bottom: 10px;
    background: radial-gradient(circle, rgba(137,70,3,1) 0%, rgba(204,102,0,1) 71%) !important;

    button {
      min-width: 40px;
      background: none;
      font-size: 1.4rem;
      padding: 0;
      margin: 0 3px;
      border: none;
      text-transform: lowercase;
    }


    &__prev2-button, &__next2-button {
      display: none;
    }

    &__label, &__prev-button, &__next-button, {

      &:focus {
        background: rgba(175, 94, 7, 0.5) !important;
      }

      &:hover {
        background: #854909 !important;
      }
    }
  }

  &__month-view__weekdays__weekday {
    color: black !important;
  }

  &__tile{
    background: none;

    &:focus {
      background: black !important;
    }

    &--active {
      background: black !important;
      color: #af5e07 !important;
    }

    &--now {
      background: #b76b17 !important;
      color: #643608 !important;
    }

    &:hover {
      background: #854909 !important;
    }
  }

  &__viewContainer {
    background: radial-gradient(circle, rgba(204,102,0,1) 0%, rgba(137,70,3,1) 83%);
  }
}