.tasks {
  &__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(204,102,0,0.9789787741268382) 0%, rgba(52,50,50,1) 91%);

    @media screen and (max-width: 420px){

    }
  }

  &__list:nth-child(2n) {
    background: linear-gradient(70deg, rgba(34,33,33,1) 0%, rgba(160,159,157,1) 100%)
  }

  &__list {

    display: flex;
    justify-content: space-around;
    background: linear-gradient(70deg, rgba(160,159,157,1) 0%, rgba(34,33,33,1) 100%);
    margin: 3px;
    border-radius: 10px;
    width: 70%;
    height: 50px;

    @media screen and (max-width: 420px){
      width: 95%;
      height: auto;
      gap: 2px;
      text-wrap: inherit;
      justify-content: space-between;
    }

    li {
      text-align: center;
      vertical-align: center;
      display: block;
      list-style: none;
      padding: 20px;
      color: white;
      width: 80px;
      font-size: 1.2rem;

      @media screen and (max-width: 420px){
        width: 20px;
        text-wrap: inherit;
        padding: 20px 0;
      }
    }

    .date {
      text-align: center;
      padding-bottom: 4px;
      background-color: black;
      color: #af5e07;
      margin: 5px;
      border-radius: 5px;

      @media screen and (max-width: 420px){
        padding: 0;

      }
    }
  }

  &__month {
    padding: 20px;
    color: #cc6600;
    font-size: 1.4rem;
    text-transform: uppercase;
  }



}


